* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#upload-container{
    display: flex;
    width: 450px;
    height: 350px;
    border: 2px dashed rgba(0,0,0,0.5);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#description{
    color: hsl(0,0%,30%);
    font-size: 18px;
}
#upload-container>i{
    color: rgba(16, 81, 221,0.8);
}
#upload-button{
    width: 80%;
    padding: 5px 0px;
    text-align: center;
    border: 1px solid rgba(16, 81, 221,0.8);
    color:rgba(16, 81, 221,0.8);
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}
#preview{
    width: 80%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#preview img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: bottom;
    border:1px solid rgba(0, 0, 0, 0.5);
}
#preview span{
    color: hsl(0,0%,30%);
    font-size: 18px;
    word-break: break-all;
    white-space: pre;
}